<% provide(:title, "14.10.30") %>
<h1 class = "allco">Courses scheduled in Location 14.10.30</h1>

<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#courses" data-toggle="tab">Courses</a></li>
	<li><a href="#coordinators" data-toggle="tab">Coordinators</a></li>
</ul>

<div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in active" id="courses">
            <% @locations.each do |location| %>
              <% if location.name == "14.10.30" %>
            <div class = "row bo">
              <div class = "col-sm-3">
                <br>
            		<table class = "listcenter ">
                    <tr>
                        <th><%= gravatar_for location.courses[0].user %><br></th>
                    </tr>
                    <tr>
                        <td><h5>Coordinator Name: <%= location.courses[0].user.name %></h5></td>
                    </tr>
                </table>
              </div>
        
      <div class = "col-sm-9 infoback">
        <br>
            <%= link_to location.courses[0].name, '#',class:"coname" %><br><br>
            <span>
            Category: 
            <% location.courses[0].categories.each do |category| %>
            <%= link_to category.name,'#' %>&nbsp &nbsp
            <% end %>
            </span>
            <br><br>
            <span>
            Location: 
            <% location.courses[0].locations.each do |lo| %>
            <%= link_to lo.name, '#' %>&nbsp &nbsp
            <% end %>
            </span>
            <br><br>
            <span class="timestamp">
             <%= time_ago_in_words(location.courses[0].created_at) %> ago.
            </span>
            <span class = "pull-right">
              <a><span class="glyphicon glyphicon-thumbs-up">0</span></a>&nbsp &nbsp &nbsp
             <a><span class="glyphicon glyphicon-thumbs-down">0</span></a>
            </span>
      </div>
    </div>
  <% end %>
<% end %>
</div>

  <!--Section 2: Coordinators-->
  
	<div class="tab-pane fade" id="coordinators">
		<table class = "listcenter">
        <% @users.each do |user| %>
        <tr>
            <th><%= gravatar_for user %><br></th>
        </tr>
        
        <tr>
            <td><h5>Coordinator Name: <%= user.name %></h5></td>
        </tr>
        
        <% end %>
    </table>
	</div>
</div>

<script>
$(function(){
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		//Get the active tab title from this page
		var activeTab = $(e.target).text();
		if(activeTab == "Courses"){
		  $("h1").html("Courses scheduled in Location 14.10.30");
		}else if(activeTab == "Coordinators"){
		  $("h1").html("All Coordinators");
		}else{
		  $("h1").html("ERROR");
		}
		
	});
});
</script>