<% provide(:title, @user.name) %>
<h1 class = "allco">Coordinator: <%= @user.name %></h1>
<table class = "listcenter">
    <% @users.each do |user| %>
    <tr>
        <th><%= gravatar_for user %><br></th>
    </tr>
    
    <tr>
        <td><h5>Coordinator Name: <%= user.name %></h5></td>
    </tr>
    
    <% end %>
</table>

<% @courses.each do |course| %>
<div class = "col-sm-9 infoback">
  <br>
      <%= link_to course.name, course, class:"coname" %><br><br>
      <span>
        Prerequisite:
        <%= course.prerequisite %>
      </span>
      <br><br>
      <span>
      Category: 
      <% course.categories.each do |category| %>
      <%= link_to category.name,categories_path(category.name) %>&nbsp &nbsp
      <% end %>
      </span>
      <br><br>
      <span>
      Location: 
      <% course.locations.each do |location| %>
      <%= link_to location.name, locations_path(location.id) %>&nbsp &nbsp
      <% end %>
      </span>
      <br><br>
      <span class="timestamp">
       <%= time_ago_in_words(course.created_at) %> ago.
      </span>
      <span class = "pull-right">
        <%= link_to "<span class='glyphicon glyphicon-thumbs-up'>#{a}</span>".html_safe, votelike_course_path(course), method: :post %>&nbsp &nbsp &nbsp
        <%= link_to "<span class='glyphicon glyphicon-thumbs-down'>#{b}</span>".html_safe, votedislike_course_path(course), method: :post %>
      </span>
      <br><br>
      <% if logged_in? %>
        <% if current_user.isadmin == 1 %>      
          <span class = "pull-right">
            <%= link_to "delete", course, method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        <% end %>
      <% end %>

      <span>
        <%= image_tag(course.avatar_url.to_s, size: "130") if course.avatar_url.present?  %>
      </span>
</div>

<% end %>
