<% provide(:title, "New Course") %>
<h1 class = "allco">Create a new course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@course, url: newcourse_path) do |f| %>
      <%= render 'shared/error_for_course' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :prerequisite %>
      <%= f.email_field :prerequisite, class: 'form-control' %>

      <%= f.submit "Create a new course", class: "btn btn-primary regbtn" %>
    <% end %>
  </div>
</div>
<br><br>