<% provide(:title, "New Course") %>
<h1 class = "allco">Create a new course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/error_for_course' %>
  </div>
  
  <div class="col-md-6 col-md-offset-3 greyback">
    
    <%= form_for(@course, url: newcourse_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :prerequisite %>
      <%= f.text_field :prerequisite, class: 'form-control' %>
      
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.label :description %>
      <%= f.text_area :description,class: 'form-control noresize', size: '50x10' %>
      <div class = "col-md-1">
      Category:
      </div>
      <div class = "col-md-6">
      <% @categories.each do |category| %>
        <div class = "col-md-3">
        <%= check_box_tag 'course[category_ids][]', category.id %>
        </div>
        <div class = "col-md-3">
        <%= category.name %></div>
      <% end %>
      </div>
      <br>
      
      <br>
      <br>
      <div class = "col-md-1">
      Location:
      </div>
      <div class = "col-md-6">
      <% @locations.each do |location| %>
        <div class = "col-md-3">
        <%= check_box_tag 'course[location_ids][]', location.id %>
        </div>
        <div class = "col-md-3">
        <%= location.name %></div>
      <% end %>
      </div>
      <br>
      <%= f.submit "Create a new course", class: "btn btn-primary regbtn" %>
    <% end %>
  </div>
</div>
<br><br>