<% provide(:title, @category.name) %>
<h1 class = "allco">Courses in <%= @category.name %></h1>
<% if !@category.courses.any? %>
  <h3>There are no courses in <%= @category.name %>, please add it via New Course</h3>
<% else %>

<% a, b = 0, 0 %>

<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#courses" data-toggle="tab">Courses</a></li>
	<li><a href="#coordinators" data-toggle="tab">Coordinators</a></li>
</ul>

<div id="myTabContent" class="tab-content">

<div class="tab-pane fade in active" id="courses">
  <% @categories.each do |category| %>
    <% if category.id == @category.id %>
    

      
      <% category.courses.each do |course|  %>
      
      <% Vote.where(course: course.id).each do |vote| %>
        <% a += vote.like %>
        <% b += vote.dislike %>
      <% end %>
      
        <div class = "row bo">
          
          <div class = "col-sm-3">
            <br>
          	<table class = "listcenter ">
                <tr>
                    <th><%= gravatar_for course.user %><br></th>
                </tr>
                <tr>
                    <td><h5>Coordinator Name: <%= course.user.name %></h5></td>
                </tr>
            </table>
          </div>

          <div class = "col-sm-9 infoback">
            <br>
                <%= link_to course.name, course,class:"coname" %><br><br>
                <span>
                  Prerequisite:
                  <%= course.prerequisite %>
                </span>
                <br><br>
                <span>
                Category: 
                <% course.categories.each do |category| %>
                <%= link_to category.name, categories_path(category.name) %>&nbsp &nbsp
                <% end %>
                </span>
                <br><br>
                <span>
                Location: 
                <% course.locations.each do |lo| %>
                <%= link_to lo.name, locations_path(lo.id) %>&nbsp &nbsp
                <% end %>
                </span>
                <br><br>
                <span class="timestamp">
                 <%= time_ago_in_words(course.created_at) %> ago.
                </span>
                <span class = "pull-right">
                  <%= link_to "<span class='glyphicon glyphicon-thumbs-up'>#{a}</span>".html_safe, votelike_course_path(course), method: :post %>&nbsp &nbsp &nbsp
                  <%= link_to "<span class='glyphicon glyphicon-thumbs-down'>#{b}</span>".html_safe, votedislike_course_path(course), method: :post %>
                </span>
                <% a, b = 0, 0 %>
          </div>
           
        </div>
      <% end %> 
    <% end %>
  <% end %>
</div>

  <!--Section 2: Coordinators-->
  
	<div class="tab-pane fade" id="coordinators">
		<table class = "listcenter">
        <% @users.each do |user| %>
        <tr>
            <th><%= gravatar_for user %><br></th>
        </tr>
        
        <tr>
            <td><h5>Coordinator Name: <%= user.name %></h5></td>
        </tr>
        
        <% end %>
    </table>
	</div>
</div>
<% end %>
<script>
$(function(){
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		//Get the active tab title from this page
		var activeTab = $(e.target).text();
		if(activeTab == "Courses"){
		  $("h1").html("Courses in <%= @category.name %>");
		}else if(activeTab == "Coordinators"){
		  $("h1").html("All Coordinators");
		}else{
		  $("h1").html("ERROR");
		}
		
	});
});
</script>