
<footer class="center jumbotron">
  
<div class = "row boxp">
  <%= render 'user_mailer/contact_us' %>
  
  <!--<div class = "col-sm-3">-->
  <!--  <h3>Contact Us</h3><br>-->
  <!--  <#%= form_tag("#", method: "POST") do %>-->
  <!--    <#%= text_field_tag :name, :"", placeholder: " Name", class: "enter" %>-->
  <!--    <#%= text_field_tag :email, :"", placeholder: " Email", class: "enter" %>-->
  <!--    <#%= text_area_tag :message, :"", size: "24x6", placeholder: " Message", class: "enter" %>-->
  <!--    <a class = "pull-right"><#%= submit_tag "Send", class: "sendbtn" %></a>-->
  <!--  <#% end %>-->
  <!--  <br>Tel: 0123456789<br>-->
		<!--Fax: 0123456<br>-->
		<!--junliang.jiang@rmit.edu.au-->
  <!--</div>-->
 
  <div class = "col-sm-3">
    <h3>General Inquires</h3>
    <%= link_to "Andy Song", '#', class: "boxp" %><br>
		<%= link_to "Junliang Jiang", '#', class: "boxp" %><br>
		<%= link_to "Ali", '#', class: "boxp" %>
  </div>
  
  <div class = "col-sm-3">
    <h3>Userful Links</h3>
    <%= link_to "RMIT Course", '#', class: "boxp" %><br>
		<%= link_to "RMIT Help Desk", '#', class: "boxp" %><br>
		<%= link_to "RMIT International", '#', class: "boxp" %>
  </div>
  
  <div class = "col-sm-3">    
    <h3>Media</h3>

    <%= link_to "Youtube", '#', class: "boxp" %><span>&nbsp;</span><i class="fa fa-youtube-square"></i><br>
		<%= link_to "Twitter", '#', class: "boxp" %><span>&nbsp;</span><i class="fa fa-twitter-square"></i><br>
		<%= link_to "Facebook", '#', class: "boxp" %><span>&nbsp;</span><i class="fa fa-facebook-square"></i><br>
		<%= link_to "Instagram", '#', class: "boxp" %><span>&nbsp;</span><i class="fa fa-instagram"></i><br>
		<%= link_to "Skype", '#', class: "boxp" %><span>&nbsp;</span><i class="fa fa-skype"></i>
  </div>
      
</div>
    	
</footer>
