    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "yourcourse", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <!--Dropdown Menu for category-->

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style = "background-color:#12C8FF; color:#ffffff;border-radius: 8px";>
              <span class="glyphicon glyphicon-screenshot"></span> Category <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Web Development", web_path %></li>
              <li><%= link_to "Java", '#' %></li>
              <li><%= link_to "Full Stack Dev", '#' %></li>
              <li><%= link_to "IOS Engineering", '#' %></li>
              <% if session[:user_id] %>
              <li class="divider"></li>
              <li><%= link_to "Create Category", addcategory_path %></li>
              <% end %>               
            </ul>
        </li>
        
        <!--Dropdown Menu for Location-->
        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style = "background-color:#12C8FF; color:#ffffff;border-radius: 8px";>
              <span class="glyphicon glyphicon-send"></span> Location <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "14.10.31", locat141031_path %></li>
              <li><%= link_to "14.08.26", locat140826_path %></li>
              <li><%= link_to "14.10.30", locat141030_path %></li>
              <% if session[:user_id] %>
              <li class="divider"></li>
              <li><%= link_to "Create Location", addlocation_path %></li>
              <% end %>              
            </ul>
        </li>
        
        <% if logged_in? %>
          <%= link_to '<button class="login" type="button">
          <span class="glyphicon glyphicon-book"></span> New Course
          </button>'.html_safe, '#' %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style = "background-color:#12C8FF; color:#ffffff;border-radius: 8px">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>

        <% else %>
          <!--Login for user-->
          <%= link_to '<button class="login" type="button">
          <span class="glyphicon glyphicon-user"></span> Login
          </button>'.html_safe, login_path %>
        <% end %>
        
        
      </ul>
    </nav>
  </div>
</header>